{% extends 'base.html' %}

{% block title %}
    <title>reset password</title>
{% endblock %}

{% block body %}
    <h1 style="color:indianred">Password reset : </h1>
    <hr>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <br>

        <span style="color:peru">{{ form.password.label }}</span> <span style="color: red">*</span> :
        {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid",placeholder="Password") }}
            {% for error in form.password.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% else %}
            {{ form.password(class="form-control",placeholder="Password") }}
        {% endif %}

        <span style="color:peru">{{ form.confirmpassword.label }}</span> <span style="color: red">*</span> :
        {% if form.password.errors %}
            {{ form.confirmpassword(class="form-control is-invalid",placeholder="Confirm Password") }}
            {% for error in form.confirmpassword.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% else %}
            {{ form.confirmpassword(class="form-control",placeholder="Confirm Password") }}
        {% endif %}

        <br>
        <br>
        {{ form.submit(class="btn btn-info ") }}

    </form>
{% endblock %}