{% extends 'base.html' %}

{% block title %}
    <title>Draft - {{ mail.subject }}</title>
{% endblock %}

{% block body %}
    <h3 style="color:indianred">An Draft mail, Dated : <span style="color: blue">{{ mail.datetime.strftime("%a, %d %b %Y %H:%M:%S") }}</span> </h3>
    <hr>
    <div class="alert alert-light" role="alert">
      <h4 class="alert-heading" style="text-align: center">{{ mail.subject }}</h4>
      <hr>
      <h4 class="alert-heading">Receiver : </h4>
      <p style="text-indent: 50px">
          {{ mail.receiver }}
      </p>
      <hr>
      <h4 class="alert-heading">Body : </h4>
      <p style="text-indent: 50px;white-space: pre-wrap">
          {{ mail.message }}
      </p>
      <hr>
      <a style="float: right" onclick="return confirm('Are you sure wanna delete this mail : {{ mail.subject }}')" class="btn btn-danger mr-2" href="{{ url_for('Draftmail_delete', id=mail.id) }}">Delete</a>
      <a style="float: right" class="btn btn-primary mr-2" href="{{ url_for('Draftmail_edit', id=mail.id) }}">Edit</a>
      <a class="btn btn-success" href="{{ url_for('Draftmail_send', id=mail.id) }}">Send Mail</a>
      <hr>
    </div>

{% endblock %}
